[color]
	ui          = auto
	status      = auto
	diff        = auto
	branch      = auto
	interactive = auto
	grep        = auto
[user]
	name = hijouguchi
	email = 
[core]
	editor = vim
	pager  = lv -c
	excludesfile = /home/hijouguchi/.gitignore
[alias]
	l  = log --pretty=format:\"%C(yellow)%h%Cblue%d%Creset %s %C(black bold)%an, %ar%Creset\" --graph
	s  = status
	c  = commit
	cm = checkout master
